
        *{
            margin : 0 ;
        }
       
    body {
        background-color: black;
        opacity: 1.5;
        color: bisque;
        font-family: serif;
        width:100%;
        height:auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
         
    }
    .background-vedio {
        position: fixed;
    }

    video {
        display: block;
        opacity: 0.2; 
        transition: opacity 0.5s ease;
    }

    nav{
        z-index: 1;
        position: absolute;
        width: 100%;
        /* margin-top: 10px; */
    }
    nav ul{
        display : flex ;
        justify-content: center;
        list-style-type: none;
        padding: 0px 20px;
        }

    ul li a,ul  li{
        padding: 12px;
        font-family: serif;
        font-size: 14px;
        color: bisque;
        font-weight: 700;
        text-decoration: none;
    }

    ul li a:hover{
        color :rgb(211, 181, 47);
    }

    .second-section{
        z-index: 1;
        display: grid;
        place-items: center;
        position: relative;
        top: 150px;
        text-align: center;
    }

    h3{
        font-family: serif;
        font-size: 35px;
    }

    .logo-div{
        position: absolute;
        top: 0px;
        left : 5px;
    }
    .logo{
        width : 100px;
    }

    .social-media-icon>a>i{
        font-size: 30px;
        color: #7d6e00; 
    }

    .social-media-icon>a>i:hover{
        color: #bcad3c;
    }

    
    .form {
        display: flex;
        position: relative;
        margin: auto;
        height: 50px;
    }
    .form h1 {
        margin-right: 10px;
    }
    input {
        background-color: transparent;
        border: 1px solid rgb(249, 145, 0);
        border-radius: 10px;
        margin-right: 25px;
    }
    input::placeholder {
        font-size: 20px;
        text-align: center;
    }
    .submit-button {
        font-size: 20px;
        color: black;
        background-color: bisque;
        width: 100px;
        border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
        .form {
            flex-direction: column;
            align-items: center;
        }
        input {
            width: calc(100% - 20px);
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    
    @media(max-width : 768px) {
        .golden-line{
        width:100%;
    }
    }
    .card{
         background: transparent;
         border:1px solid bisque;
    }
    .marquee-container {
        overflow: hidden;
        width: 100%;
    }

    .marquee-content {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 20s linear infinite;
        
    }

    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }

    .img1 {
        display: inline-block;
        width: 15%;
        padding:30px;
    }

    @media (max-width: 768px) {
        .img1 {
            width: 30%;
            padding: 10px;
        }

        .header-carousel .header-carousel-item, 
        .header-carousel .header-carousel-item 
         .img1  {
            height: 200px;
            /* margin-top : 20px ; */
        }

        .display-1{
            margin-top : 10px;
            font-size : 25px;
        }

        .rounded-pill-mobile {
        display: none;                
        /* padding : 3px 3px */
      }
        }

        .snehal-padding-kadh{
            padding:0px;
        }

     
        .testimonial-card-image{
        margin-top:50px;
        z-index: 2;
    }
        
        .testiminal-container{
            width: 630px;
        }
    
        @media(max-width:768px){
            .testiminal-container{
            width: 100%;
        }
        }
        
    .footer-section{
 z-index: 1;
display:grid;
place-items: center;
position: relative;
top:80px ;

}
footer{
    margin-top: 20px;
    padding: 30px;
    
}
.footer-link{

  
    line-height: 40px;
}
.marque-content{
    margin-right: 25%;
    margin-left: 25%;
}
li a{
    color:bisque;
}
@media(max-width:767px){
    .logo{
        justify-content: center;
    }
    footer{
        padding: 0px;
    }
    .marque-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .testimonial-card-image{
        margin-top:0px;
    }
}



 
    
